<div class=" reactive bg-white rounded-md shadow-lg border border-gray-200 overflow-hidden">

  @if (loading) {
    <div class="absolute inset-0 z-50 bg-white/70 backdrop-blur-[2px] flex items-center justify-center">

      <div class="bg-white px-6 py-5 rounded-2xl shadow-xl border border-gray-200 flex flex-col items-center gap-3 min-w-[180px]">

        <!-- Spinner -->
        <div class="w-10 h-10 border-4 border-blue-200 border-t-blue-600 rounded-full animate-spin"></div>

        <!-- Text -->
        <div class="text-center">
          <p class="text-sm font-semibold text-gray-700">
            Creating Announcement
          </p>
          <p class="text-xs text-gray-500 mt-1">
            Please wait...
          </p>
        </div>

      </div>

    </div>
  }

  <!-- Header -->
  <div class="flex justify-between items-center px-5 py-4 border-b border-gray-200 bg-gray-50">
    <div class="flex items-center gap-2">
      <div class="p-2 rounded-xl bg-blue-100 text-blue-600">
        <lucide-icon [img]="Megaphone" [size]="18"></lucide-icon>
      </div>
      <div>
        <h1 class="text-lg font-semibold text-gray-800">Create Announcement</h1>
        <p class="text-xs text-gray-500">
          Publish announcements for teachers, courses, or batches
        </p>
      </div>
    </div>

    <button type="button" class="p-2 rounded-lg hover:bg-red-100 hover:text-red-600 transition cursor-pointer" (click)="onCancel()">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"/>
      </svg>
    </button>
  </div>

  <!-- Body -->
  <div class="max-h-[80vh] overflow-y-auto">

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-5 grid grid-cols-2 gap-5">

      <!-- Title -->
      <div class="col-span-2">
        <label class="form-label" for="title">
          Title <span class="text-red-500">*</span>
        </label>

        <input id="title" class="form-input" formControlName="title" placeholder="Enter announcement title" [class.form-input-error]="form.get('title')?.invalid && form.get('title')?.touched"/>
        @if (form.get('title')?.errors?.['required'] && form.get('title')?.touched){
          <p class="form-error"> * Title is Mandatory!</p>
        }
        @if (form.get('title')?.errors?.['server'] ){
          <p class="form-error"> * {{ form.get('title')?.errors?.['server'] }}</p>
        }
      </div>

      <!-- Description -->
      <div class="col-span-2">
        <label class="form-label" for="description">
          Description <span class="text-red-500">*</span>
        </label>

          <quill-editor
            id="description"
            class="w-full h-55"
            [modules]="modules"
            formControlName="description"
            placeholder="Enter your announcement description here..." >
          </quill-editor>
        @if (form.get('description')?.errors?.['required'] && form.get('description')?.touched){
          <p class="form-error"> * Description is Mandatory!</p>
        }
        @if (form.get('description')?.errors?.['server'] && form.get('description')?.touched){
          <p class="form-error"> * {{ form.get('description')?.errors?.['server'] }}</p>
        }

      </div>

      <!-- Visibility -->
      <div>
        <label for="visibility" class="form-label">
          Visibility <span class="text-red-500">*</span>
        </label>

        <select class="form-input" id="visibility" formControlName="visibility" [class.form-input-error]="form.get('visibility')?.invalid && form.get('visibility')?.touched">
          <option [ngValue]="null" disabled>
            -- Select Visibility --
          </option>

          @for (v of visibilities; track v) {
            <option [value]="v">
              {{ v }}
            </option>
          }
        </select>

        @if (form.get('visibility')?.errors?.['required'] && form.get('visibility')?.touched){
          <p class="form-error"> * Visibility is Mandatory!</p>
        }
        @if (form.get('visibility')?.errors?.['server'] && form.get('visibility')?.touched){
          <p class="form-error"> * {{ form.get('visibility')?.errors?.['server'] }}</p>
        }
      </div>

      <!-- Status -->
      <div>
        <label for="status" class="form-label">
          Status <span class="text-red-500">*</span>
        </label>

        <select class="form-input" id="status" formControlName="status" [class.form-input-error]="form.get('status')?.invalid && form.get('status')?.touched">
          <option [ngValue]="null" disabled>
            -- Select Status --
          </option>

          @for (s of statuses; track s) {
            <option [value]="s">
              {{ s }}
            </option>
          }
        </select>

        @if (form.get('status')?.errors?.['required'] && form.get('status')?.touched){
          <p class="form-error"> * Status is Mandatory!</p>
        }
        @if (form.get('status')?.errors?.['server'] ){
          <p class="form-error"> * {{ form.get('status')?.errors?.['server'] }}</p>
        }
      </div>

      <!-- COURSE -->
      @if (form.value.visibility === 'COURSE' || form.value.visibility === 'BATCH') {

        <div class="col-span-2 p-4 rounded-2xl border border-blue-100 bg-blue-50">

          <div class="flex items-center gap-2 mb-3">
            <div class="w-2 h-2 rounded-full bg-blue-500"></div>
            <h2 class="text-sm font-semibold text-blue-700">
              Course Selection
            </h2>
          </div>

          <label for="course" class="form-label">
            Course <span class="text-red-500">*</span>
          </label>

          <select id="course" class="form-input" formControlName="courseId" [class.form-input-error]="form.get('courseId')?.invalid && form.get('courseId')?.touched">

            @if (courses.length == 0){
              <option [ngValue]="null" disabled selected>
                No courses available
              </option>
            }@else{
              <option [ngValue]="null" disabled>
                -- Select Course --
              </option>

              @for (c of courses; track c.id) {
                <option [ngValue]="c.id">
                  {{ c.title }}
                </option>
              }
            }

          </select>
          @if (form.get('courseId')?.errors?.['server']){
            <p class="form-error"> * {{ form.get('courseId')?.errors?.['server'] }}</p>
          }

          <!-- Selected Course Preview -->
          @if (selectedCourseTitle) {
            <div class="mt-3 p-3 bg-white border border-blue-200 rounded-xl">
              <p class="text-xs text-gray-500 mb-1">
                Selected Course
              </p>

              <p class="text-sm font-medium text-gray-700 break-words leading-relaxed">
                {{ selectedCourseTitle }}
              </p>
            </div>
          }
        </div>
      }

      <!-- BATCH -->
      @if (form.value.visibility === 'BATCH') {

        <div class="col-span-2 p-4 rounded-2xl border border-purple-100 bg-purple-50">

          <div class="flex items-center gap-2 mb-3">
            <div class="w-2 h-2 rounded-full bg-purple-500"></div>
            <h2 class="text-sm font-semibold text-purple-700">
              Batch Selection
            </h2>
          </div>

          <label for="batch" class="form-label">Batch <span class="text-red-500">*</span></label>

          <select id="batch" class="form-input" formControlName="batchId" [class.form-input-error]="(form.get('batchId')?.invalid || form.get('expireAt')?.errors?.['server']) && form.get('batchId')?.touched">

            @if (!form.get('courseId')?.value) {
              <option [ngValue]="null" disabled selected>
                -- Select a Course First --
              </option>
            } @else if (batches.length == 0){
              <option [ngValue]="null" disabled selected>
                No batches available for the selected course
              </option>
            } @else {
              @for (b of batches; track b.id) {
              <option [ngValue]="b.id">
                {{ b.name }}
              </option>
              }
            }
          </select>

          @if (form.get('batchId')?.errors?.['server'] ){
            <p class="form-error"> * {{ form.get('batchId')?.errors?.['server'] }}</p>
          }

          <!-- Selected Batch Preview -->
          @if (selectedBatchName) {
            <div class="mt-3 p-3 bg-white border border-purple-200 rounded-xl">
              <p class="text-xs text-gray-500 mb-1">
                Selected Batch
              </p>

              <p class="text-sm font-medium text-gray-700 break-words leading-relaxed">
                {{ selectedBatchName }}
              </p>
            </div>
          }
        </div>
      }

      <!-- Expire Date -->
      <div class="col-span-2">
        <label for="expireDate" class="form-label">
          Expire At <span class="text-red-500">*</span>
        </label>

        <input class="form-input h-11" id="expireDate" type="datetime-local" formControlName="expireAt" [class.form-input-error]="form.get('expireAt')?.invalid && form.get('expireAt')?.touched"/>

        @if (form.get('expireAt')?.errors?.['required'] && form.get('expireAt')?.touched){
          <p class="form-error"> * expireAt is Mandatory!</p>
        }
        @if (form.get('expireAt')?.errors?.['server'] ){
          <p class="form-error">{{ form.get('expireAt')?.errors?.['server'] }}</p>
        }
      </div>

      <!-- Footer -->
      <div class="col-span-2 flex justify-end gap-3 pt-3 border-t border-gray-200">

        <button type="button" class="btn-mini-secondary" (click)="onRest()" [disabled]="loading">
          Reset
        </button>

        <button class="btn-mini-primary" type="submit" [disabled]="form.invalid || loading" >
          Create Announcement
        </button>

      </div>

    </form>

  </div>

</div>
