<app-page-layout
  [headerTitle]="`${announcement.title}`"
  [headerDescription]="''"
  [showBackButton]="true"
  [isLoading]="loading"
  [loaderTitle]="'Loading Announcement Details...'"
  [loaderDescription]="'Please wait while we fetch the announcement details from the server.'"
>
  <div data-body>
    <div class="flex-1 min-w-0">

      <div class="flex items-center gap-2 flex-wrap mb-2">

        <!-- Visibility -->
        <span class="batch" [ngClass]="{
                'batch-info': announcement.visibility == AnnouncementVisibility.PRIVATE,
                'batch-secondary': announcement.visibility == AnnouncementVisibility.ALL_TEACHERS,
                'batch-violet': announcement.visibility == AnnouncementVisibility.COURSE,
                'batch-primary': announcement.visibility == AnnouncementVisibility.BATCH
              }">
                {{ announcement.visibility }}
              </span>

        <!-- Status -->
        <span class="batch" [ngClass]="{
                'batch-success': announcement.status == AnnouncementStatus.PUBLISHED,
                'batch-secondary': announcement.status == AnnouncementStatus.DRAFT,
                'batch-warning': announcement.status == AnnouncementStatus.ARCHIVED,
                'batch-danger': announcement.status == AnnouncementStatus.DELETED || announcement.status == AnnouncementStatus.EXPIRED
              }">
                {{ announcement.status }}
              </span>

        <!-- Pinned -->
        @if (announcement.pinned) {
          <span class="batch batch-warning flex items-center gap-1">
                  <lucide-icon [img]="Pin" [size]="12"></lucide-icon>
                  PINNED
                </span>
        }

        <div class="text-sm text-gray-500 flex flex-wrap gap-x-5 gap-y-1">

          @if (announcement.courseId) {
            <div class="flex items-center gap-1">
              <lucide-icon [img]="BookOpen" [size]="14" class="text-sky-400"></lucide-icon>
              <p class="para-primary">{{ announcement.courseId }}</p>
            </div>
          }

          @if (announcement.batchId) {
            <div class="flex items-center gap-1">
              <lucide-icon [img]="Users" [size]="14" class="text-sky-400"></lucide-icon>
              <p class="para-primary">{{ announcement.batchId }}</p>
            </div>
          }

          <div class="flex items-center gap-1">
            <lucide-icon [img]="CalendarClock" [size]="14" class="text-sky-400"></lucide-icon>
            <p class="para-primary">Expires {{ announcement.expireAt | date:'medium' }}</p>
          </div>

        </div>

      </div>

      <app-card-shell class="block mt-3">
        <div class="flex-1 overflow-y-auto">
          <quill-editor id="description" class="w-full h-full px-25 mt-4" [modules]="{toolbar:false}" [readOnly]="true" [ngModel]="announcement.description" [styles]="{ border: 'none'}"></quill-editor>
        </div>
      </app-card-shell>


    </div>
  </div>
</app-page-layout>
