<div class="bg-white rounded-md shadow-lg border border-gray-200 overflow-hidden">

  <!-- Header -->
  <div class="flex justify-between items-center px-5 py-4 border-b border-gray-200 bg-gray-50">

    <div class="flex items-center gap-2">
      <div class="p-2 rounded-xl bg-blue-100 text-blue-600">
        <lucide-icon [img]="SquarePen" [size]="18"></lucide-icon>
      </div>

      <div>
        <h1 class="text-lg font-semibold text-gray-800">Update Announcement Content</h1>
        <p class="text-xs text-gray-500">Modify title, description and expiration</p>
      </div>
    </div>

    <button type="button" class="p-2 rounded-lg hover:bg-red-100 hover:text-red-600 transition cursor-pointer" (click)="onCancel()">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"/>
      </svg>
    </button>

  </div>

  <!-- Body -->
  <div class="max-h-[80vh] overflow-y-auto">

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-5 grid grid-cols-2 gap-5">

      <!-- Title -->
      <div class="col-span-2">

        <label for="title" class="form-label">Title <span class="text-red-500">*</span></label>

        <input id="title" class="form-input" formControlName="title" placeholder="Enter announcement title" [class.form-input-error]="form.get('title')?.invalid && form.get('title')?.touched"/>

        @if (form.get('title')?.errors?.['required'] && form.get('title')?.touched) {
          <p class="form-error">* Title is Mandatory</p>
        }
        @if (form.get('title')?.errors?.['server'] ) {
          <p class="form-error">* {{ form.get('title')?.errors?.['server'] }}</p>
        }
      </div>

      <!-- Description -->
      <div class="col-span-2">

        <label for="description" class="form-label">Description <span class="text-red-500">*</span></label>

        <quill-editor id="description" class="w-full h-55" [modules]="modules" formControlName="description" placeholder="Update announcement description"></quill-editor>

        @if (form.get('description')?.errors?.['required'] && form.get('description')?.touched) {
          <p class="form-error">* Description is Mandatory!</p>
        }
        @if (form.get('description')?.errors?.['server'] ) {
          <p class="form-error">* {{ form.get('description')?.errors?.['server'] }}</p>
        }

      </div>

      <!-- Expire At -->
      <div class="col-span-2">

        <label for="expireAt" class="form-label">Expire At <span class="text-red-500">*</span></label>

        <input id="expireAt" type="datetime-local" class="form-input" formControlName="expireAt" [class.form-input-error]="form.get('expireAt')?.invalid && form.get('expireAt')?.touched"/>

        @if (form.get('expireAt')?.errors?.['required'] && form.get('expireAt')?.touched) {
          <p class="form-error">* ExpireAt is Mandatory!</p>
        }
        @if (form.get('expireAt')?.errors?.['server'] ) {
          <p class="form-error">* {{ form.get('expireAt')?.errors?.['server'] }}</p>
        }
      </div>

      <!-- Footer -->
      <div class="col-span-2 flex justify-end gap-3 pt-3 border-t border-gray-200">

        <button type="button" class="btn-mini-secondary" (click)="onCancel()">Cancel</button>

        <button type="button" class="btn-mini-secondary" (click)="onReset()">Reset</button>

        <button type="submit" class="btn-mini-primary" [disabled]="form.invalid || loading">Save Changes</button>

      </div>

    </form>

  </div>

</div>
