<div class="bg-gray-300/50 text-gray-900  h-screen flex items-center justify-center">

  <div class="sm:w-lg p-5 sm:p-10 rounded-md shadow-xl drop-shadow-lg bg-white shadow-gray-600" *ngIf="!success">
    <h1 class="text-2xl sm:text-4xl font-bold mb-2">Reset Password Request</h1>
    <p class="text-gray-600 mb-4 sm:mb-8">Please Enter the email address of your account which you need to reset your password.</p>
    <form (ngSubmit)="onSubmit()">
      <input type="email" name="email" id="email" [(ngModel)]="userEmail" placeholder="Email" class="w-full p-2 border border-gray-300 rounded-md mb-4 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40" required #email="ngModel"/>
      <p *ngIf="email.invalid && email.touched" class="text-red-500 mb-4">Email is required to proceed !!</p>
      <button type="submit" class="w-full bg-blue-500 text-white p-2 rounded-md hover:bg-blue-600" [ngClass]="{'cursor-not-Allowed':loading , 'cursor-pointer':!loading}" >{{ loading ? 'Loading..' : 'Send Request' }}</button>
      <p class="mt-4">Back to login ? <a [routerLink]="['/auth/login']" class="text-blue-600 font-semibold">Login</a></p>
    </form>
  </div>

  <div class="sm:w-lg p-5 sm:p-10 rounded-md shadow-xl drop-shadow-lg bg-white shadow-gray-600" *ngIf="success">
    <h1 class="text-2xl sm:text-4xl font-bold mb-2">Request Submitted Successfully</h1>
    <p class="text-gray-600 mb-4 sm:mb-8">Please Check your mail we have send a link which will redirect you to the reset password page.</p>
    <p class="mt-4">Back to login ? <a [routerLink]="['/auth/login']" class="text-blue-600 font-semibold">Login</a></p>
  </div>

</div>


