

<nav class="fixed top-0 z-50 w-full bg-blue-100 border-b border-gray-200">
  <div class="px-3 py-3 lg:px-5 lg:pl-3">
    <div class="flex items-center justify-between">
      <div class="flex items-center justify-start rtl:justify-end">
        <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar" type="button" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200">
          <span class="sr-only">Open sidebar</span>
          <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
          </svg>
        </button>
        <a [routerLink]="['/app']" class="flex ms-2 md:me-24">
          <img src="tuitiontoall_logo.png" class="h-8 me-3" alt="TuitionToAll Logo" />
          <span class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap text-blue-950">TuitionToAll</span>
        </a>
      </div>
      <div class="flex items-center">
        <div class="flex items-center ms-3">
          <div>
            <button type="button" class="flex text-sm bg-sky-800 rounded-full focus:ring-4 focus:ring-gray-300 " aria-expanded="false" data-dropdown-toggle="dropdown-user">
              <span class="sr-only">Open user menu</span>
              <img class="w-8 h-8 rounded-full" src="https://flowbite.com/docs/images/people/profile-picture-5.jpg" alt="user">
            </button>
          </div>
          <div class="z-50 hidden my-4 text-base list-none bg-blue-200 divide-y divide-gray-100 rounded-sm shadow-sm" id="dropdown-user">
            <div class="px-4 py-3">
              <p class="text-sm text-gray-900">
                {{institute.instituteName}}
              </p>
              <p class="text-sm font-medium text-gray-900 truncate">
                {{institute.email}}
              </p>
            </div>
            <ul class="py-1">
              <li>
                <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 " role="menuitem">Dashboard</a>
              </li>
              <li>
                <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 " role="menuitem">Settings</a>
              </li>
              <li>
                <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 " role="menuitem">Earnings</a>
              </li>
              <li>
                <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 " role="menuitem">Sign out</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<aside id="logo-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full bg-blue-200 border-r border-gray-200 sm:translate-x-0" aria-label="Sidebar">
  <div class="h-full px-3 pb-4 overflow-y-auto bg-blue-200">
    <ul class="space-y-2 font-medium">
      <li>
        <a [routerLink]="['/ins/dashboard']" class="flex items-center p-2 text-gray-900 rounded-lg  hover:bg-gray-100 group">
          <lucide-icon [img]="ChartPie"></lucide-icon>
          <span class="ms-3">Dashboard</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/ins/dashboard']" class="flex items-center p-2 text-gray-900 rounded-lg  hover:bg-gray-100 group">
          <lucide-icon [img]="Book"></lucide-icon>
          <span class="ms-3">Courses</span>
        </a>
      </li>
    </ul>
  </div>
</aside>

<div class="p-4 sm:ml-64">
  <router-outlet></router-outlet>
</div>
