<div class="h-screen flex overflow-hidden">
  <div class="p-5 pt-8 w-20 relative duration-300 flex flex-col" [ngClass]="sidebarOpen ? 'w-72 bg-gradient-to-br from-sky-950 from-30% to-gray-800 to-90%' : 'w-20 bg-gradient-to-b from-sky-950 from-40% to-gray-800 to-80%'">

    <!--Sidebar trigger Icon-->
    <lucide-icon [img]="sidebarOpen ? arrowLeft : arrowRight" [size]="20" class="text-sky-900 bg-white rounded-full absolute -right-1.5 top-4.5 border border-sky-950 cursor-pointer"  (click)="sidebarOpen = !sidebarOpen" (keydown.enter)="sidebarOpen = !sidebarOpen"></lucide-icon>

    <!--Sidebar header-->
    <div class="inline-flex">
        <img [ngSrc]="'tuitiontoall_logo.png'" width="42" height="42" class="me-3 rounded cursor-pointer float-left duration-300" [ngClass]="{'rotate-[360deg]':!sidebarOpen}" alt="app-logo"/>
        <span class="text-2xl font-medium origin-left text-sky-50 duration-300" [ngClass]="{'scale-0':!sidebarOpen}">TuitionToAll</span>
    </div>

    <!--Sidebar menu-->
    <ul class="pt-2">
      <!--Sidebar menu items-->
      @for (menu of menus; track menu.title) {
        <li [routerLink]="[menu.route]" class="text-sky-50 flex items-center gap-x-2 cursor-pointer hover:bg-sky-800 rounded-md p-2" routerLinkActive="bg-sky-800" [routerLinkActiveOptions]="{exact : true}" [ngClass]="menu.spacing ? 'mt-5' : 'mt-2'">
          <span class="text-2xl block" [ngClass]=" !sidebarOpen ? 'float-none' : 'float-left'">
            <lucide-icon [img]="menu.icon" size="18"></lucide-icon>
          </span>
          <span class="text-sm font-medium flex-1" [hidden]="!sidebarOpen">{{ menu.title }}</span>
          @if (menu.subMenu && sidebarOpen) {
            <!--Sidebar submenu trigger icon-->
            <lucide-icon [img]="dropDownIcon" [ngClass]="{'rotate-180': !subMenuOpen}" (click)="subMenuOpen = !subMenuOpen" (keydown.enter)="subMenuOpen = !subMenuOpen"></lucide-icon>
          }
        </li>

        <!--Sidebar submenu-->
        @if (menu.subMenu && subMenuOpen && sidebarOpen) {
          <ul>
            <!--Sidebar submenu items-->
            @for (menu of menu.subMenuItems; track menu.title) {
              <li class="text-sky-50 text-sm flex items-center gap-x-4 cursor-pointer hover:bg-sky-800 rounded-md p-2 px-5" [ngClass]="menu.spacing ? 'mt-5' : 'mt-2'">
                <span class="text-xs font-medium flex-1" [hidden]="!sidebarOpen">{{ menu.title }}</span>
              </li>
            }
          </ul>
        }
      }
    </ul>

    <!--Sidebar footer-->
    @if (sidebarOpen) {

      <!--Sidebar footer when sidebar is open-->
      <button class="  w-full flex items-center justify-center mb-2 bg-sky-800 rounded-md p-2 mt-auto gap-x-2 relative cursor-pointer" (click)="profileMenuOpen = !profileMenuOpen" (keydown.enter)="profileMenuOpen = !profileMenuOpen">
        <img [src]="institute.dp ? (environment.USER_PROFILE_API+institute.dp) : 'https://avatar.iran.liara.run/public/boy'" class="w-8 h-8 rounded-full object-cover" alt="user-dp"/>
        <p class="text-xs text-sky-50 font-semibold ">{{ $any(institute.details)?.instituteName }}</p>
        @if (profileMenuOpen) {
          <div class="absolute bottom-0 -right-52 w-50 h-auto bg-sky-800 flex flex-col  cursor-pointer rounded-md p-2">
            <ul class="w-full flex flex-col gap-y-2 ">
              <li [routerLink]="['/profile/'+institute.userSlug]" class="flex items-center  cursor-pointer hover:bg-sky-600 rounded-md">
                  <span class="text-sky-50 text-sm font-medium p-2">Profile</span>
              </li>
              <li class="flex items-center cursor-pointer hover:bg-sky-600 rounded-md ">
                  <span class="text-sky-50 text-sm font-medium p-2">Settings</span>
              </li>
              <li [routerLink]="['/app']" class="flex items-center cursor-pointer hover:bg-sky-600 rounded-md ">
                  <span class="text-sky-50 text-sm font-medium p-2">Feed</span>
              </li>
            </ul>
          </div>
        }
      </button>

    } @else {

      <!--Sidebar footer when sidebar is closed-->
      <img [src]="institute.dp ? (environment.USER_PROFILE_API+institute.dp) : 'https://avatar.iran.liara.run/public/boy'" class="w-10 h-10 rounded-full object-cover mt-auto bg-red-500" alt="user-dp"/>

    }
  </div>

  <!--Main content wrapper-->
  <div class="flex-1 flex flex-col overflow-hidden">
    <!--Router outlet container-->
    <div class="flex-1 overflow-auto p-7">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
