<div class=" p-4 bg-white">
  <div class="w-full flex justify-between items-center border-b-2 border-gray-200">
    <h1 class="text-lg">Update Batch : {{ this.data.batch.name }}</h1>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
         class="size-5 cursor-pointer" (click)="onCancel()" (keydown)="onCancel()">
      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"/>
    </svg>
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="mt-4">
    <div class="grid grid-cols-2 gap-4 mt-2">

      <!--Batch Name-->
      <div class="col-span-2">
        <label for="batch-name" class="form-label">Batch Name<sup class="text-red-500"> *</sup></label>
        <input type="text" id="batch-name" class="form-input" placeholder="D001" formControlName="name" [class.form-input-error]="form.get('name')?.invalid && form.get('name')?.touched" />
        @if (form.get('name')?.errors?.['required'] && form.get('name')?.touched) {
          <p class="form-error">Batch name is required</p>
        }
        @if (form.get('name')?.errors?.['server']) {
          <p class="form-error">{{ form.get('name')?.errors?.['server'] }}</p>
        }

      </div>

      <!--Batch Start Date-->
      <div class="col-span-1">
        <label for="batch-start-date" class="text-sm text-gray-700">Start Date<sup class="text-red-500"> *</sup></label>
        <input type="date" id="batch-start-date" name="batch-start-date" class="form-input" formControlName="start_date" [class.form-input-error]="form.get('start_date')?.invalid && form.get('start_date')?.touched" (change)="validateStartDate()" />
        @if (form.get('start_date')?.errors?.['required']) {
          <p class="form-error">Start date is required</p>
        }
        @if (form.get('start_date')?.errors?.['server'] || form.get('start_date')?.errors?.['custom']) {
          <p
            class="form-error">{{ form.get('start_date')?.errors?.['server'] || form.get('start_date')?.errors?.['custom'] }}</p>
        }
      </div>

      <!--Batch Start Time-->
      <div class="col-span-1">
        <label for="batch-start-time" class="form-label">Start Time<sup class="text-red-500"> *</sup></label>
        <input type="time" id="batch-start-time" name="batch-end-date" class="form-input" formControlName="start_time" [class.form-input-error]="form.get('start_time')?.invalid && form.get('start_time')?.touched" />
        @if (form.get('start_time')?.errors?.['required']) {
          <p class="form-error">Start time is required</p>
        }
        @if (form.get('start_time')?.errors?.['server']) {
          <p class="form-error">{{ form.get('start_time')?.errors?.['server'] }}</p>
        }
      </div>

      <!--      Batch Seat Limitation-->
      <div class="col-span-2 flex items-center justify-between">
        <!--        Is Batch Seat Limited?-->
        <div class="flex items-center gap-2">
          <input type="checkbox" id="batch-is-seat-limited" name="batch-is-seat-limited" class="w-4 h-4" [class.form-input-error]="form.get('is_seat_limited')?.invalid && form.get('is_seat_limited')?.touched"
                 formControlName="is_seat_limited" (change)="validateSeatsLimit()"/>
          <label for="form-label">Seat Limited<sup class="text-red-500">*</sup></label>
        </div>

        <!--        Batch Seat Limit Count-->
        @if (form.get('is_seat_limited')?.value) {
          <div class="w-62">
            <label for="batch-seat-limit" class="form-label">Seats<sup class="text-red-500"> *</sup></label>
            <input type="number" id="batch-seat-limit" name="batch-seat-limit" class="form-input" [class.form-input-error]="form.get('max_seat_limit')?.invalid && form.get('max_seat_limit')?.touched"
                   formControlName="max_seat_limit" (change)="validateSeatsLimit()" />
          </div>
        }
      </div>

      <div class="col-span-2">
        @if (form.get('max_seat_limit')?.errors?.['required']) {
          <p class="form-error">max seat limit is required</p>
        }
        @if (form.get('is_seat_limited')?.errors?.['server'] || form.get('is_seat_limited')?.errors?.['custom']) {
          <p
            class="form-error">{{ form.get('is_seat_limited')?.errors?.['server'] || form.get('is_seat_limited')?.errors?.['custom'] }}</p>
        }
        @if (form.get('max_seat_limit')?.errors?.['server'] || form.get('max_seat_limit')?.errors?.['custom']) {
          <p
            class="form-error">{{ form.get('max_seat_limit')?.errors?.['server'] || form.get('max_seat_limit')?.errors?.['custom'] }}</p>
        }
      </div>

      <!--      Batch Status-->
      <div>
        <label for="batch-status" class="form-label">Batch Status<sup class="text-red-500"> *</sup></label>
        <select id="batch-status" name="batch-status" class="form-input" formControlName="batch_status" [class.form-input-error]="form.get('batch_status')?.invalid && form.get('batch_status')?.touched" (change)="validateStatus()">
          @for (status of batchStatuses; track status) {
            @if (status === 'PREPARATION') {
              <option [value]="status" selected>{{ status.toLowerCase() }}</option>
            } @else {
              <option [value]="status">{{ status.toLowerCase() }}</option>
            }
          }
        </select>
      </div>

      <!--      Batch Enrollment Status-->
      <div>
        <label for="batch-enrollment-status" class="form-label">Enrollment Status<sup class="text-red-500">
          *</sup></label>
        <select id="batch-enrollment-status" name="batch-enrollment-status" class="form-input" [class.form-input-error]="form.get('enrollment_status')?.invalid && form.get('enrollment_status')?.touched"
                formControlName="enrollment_status" (change)="validateStatus()">
          @for (status of batchEnrollmentStatuses; track status) {
            @if (status === 'OPEN') {
              <option [value]="status" selected>{{ status.toLowerCase() }}</option>

            } @else {
              <option [value]="status">{{ status.toLowerCase() }}</option>
            }
          }
        </select>
      </div>

      <div class="col-span-2">
        @if (form.get('batch_status')?.errors?.['required']) {
          <p class="form-error"> Batch Status is required</p>
        }
        @if (form.get('enrollment_status')?.errors?.['required']) {
          <p class="form-error">Enrollment Status is required</p>
        }
        @if (form.get('batch_status')?.errors?.['server']) {
          <p class="form-error">{{ form.get('batch_status')?.errors?.['server'] }}</p>
        }
        @if (form.get('enrollment_status')?.errors?.['server'] || form.get('enrollment_status')?.errors?.['custom']) {
          <p class="form-error">{{ form.get('enrollment_status')?.errors?.['server'] || form.get('enrollment_status')?.errors?.['custom'] }}</p>
        }
          <p class="form-error"> {{this.form.errors?.['server'] }}</p>
        @if (this.form.errors?.['server']){
        }
      </div>

      <div class="col-span-2 flex justify-end gap-2">
        <button type="button" (click)="onReset()" class="btn-mini-secondary">Reset</button>
        <button type="submit" class="btn-mini-primary">Update</button>
      </div>
    </div>
  </form>
  <div *ngIf="isLoading" class="w-full h-full bg-gray-100 opacity-50 absolute top-0 left-0 z-10 flex flex-col justify-center items-center ">
    <div class="relative z-20 flex flex-col justify-center items-center">
      <div class="spinner-border animate-spin inline-block w-8 h-8 border-4 rounded-full border-blue-600 border-t-transparent"></div>
      <p class="text-gray-800 font-semibold">Updating..</p>
    </div>
  </div>
</div>
