<app-dialog-layout
  (cancelEvent)="onCancel()"
  [title]="'Update Module Teacher'"
  [description]="'Update the teacher of the module here!'"
  [icon]="User"
  [loaderTitle]="'Updating Module Teacher'"
  [loaderDescription]="'Please wait while the module teacher is being updated'"
>
  <div data-body>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="flex flex-col justify-center items-center gap-2">
        <div class="w-full mb-2">
          <label for="currentTeacherName" class="form-label">Current Teacher</label>
          <input id="currentTeacherName" type="text" [disabled]="true" class="form-input" [value]="originalTeacherName">
        </div>
        <lucide-icon [img]="ArrowRightLeft" [size]="20" class="text-gray-400"></lucide-icon>
        <app-select class="w-full" id="teacherId" label="Teacher" placeholder="Select teacher for the module" [required]="true" [control]="form.get('teacherId')" [options]="teacherOptions"/>
      </div>
      <div class="flex justify-end my-3 gap-2">
        <button type="button" class="btn-mini-secondary" (click)="onReset()">Cancel</button>
        <button type="submit" class="btn-mini-primary">Update</button>
      </div>
    </form>
  </div>

</app-dialog-layout>
