<div class="mb-4">
  <h3>Assignment Submission</h3>
  <p class="para-primary">Please submit your assignment here.</p>
</div>

<app-card-shell>
  <div class="p-4">
    @if (eligibilityResponse.canSubmit) {
      <form [formGroup]="this.form" (ngSubmit)="onSubmit()" >
        <app-file-input id="assignmentSubmit" label="Upload your assignment" [control]="this.form.get('file')" [required]="true" [accept]="'.pdf'"></app-file-input>
        <div class="flex flex-row gap-2 justify-end mt-4">
          <button (click)="onReset()" type="reset" class="btn btn-mini-secondary">Reset</button>
          <input type="submit" value="Submit" class="btn btn-mini-primary" [disabled]="this.form.invalid || this.loading">
        </div>
      </form>
    } @else {
      <app-card-shell variant="warning">
        <div class="p-4">
          @switch (eligibilityResponse.reason){
            @case (SubmissionEligibilityReason.LATE_SUBMISSION_NOT_ALLOWED){
              <p class="para-xs para-warning">Late submissions are not allowed for this assignment.</p>
            }
            @case (SubmissionEligibilityReason.MAX_ATTEMPTS_REACHED){
              <p class="para-xs para-warning">You have reached the maximum number of submission attempts for this assignment.</p>
            }
            @case (SubmissionEligibilityReason.RESUBMISSION_NOT_ALLOWED){
              <p class="para-xs para-warning">Resubmissions are not allowed for this assignment.</p>
            }
          }
        </div>
      </app-card-shell>
    }
  </div>
</app-card-shell>
