<app-page-layout [headerTitle]="'Modules'">
  <button data-actions class="btn-mini-primary flex items-center gap-1" matTooltip="Create a new module" matTooltipPosition="above" (click)="openCreateModuleDialog()">
    <lucide-icon [img]="Plus" [size]="14"></lucide-icon>
    Add Module
  </button>
  <div data-body>
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let element">{{ element.id}}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element" >{{ element.name }}</td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element"><div class="flex justify-center items-center"><app-module-badge [status]="element.status"/></div></td>
      </ng-container>
      <ng-container matColumnDef="createdDate">
        <th mat-header-cell *matHeaderCellDef>Created Date</th>
        <td mat-cell *matCellDef="let element">{{ element.createdDate | date: 'dd MMM yyyy, hh:mm a' }}</td>
      </ng-container>
      <ng-container matColumnDef="lastModifiedDate">
        <th mat-header-cell *matHeaderCellDef>Last Modified Date</th>
        <td mat-cell *matCellDef="let element">{{element.lastModifiedDate | date: 'dd MMM yyyy, hh:mm a'}}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element" >
          <div class="flex gap-2">
            <button type="button" matTooltip="View Module" matTooltipPosition="above" class="cursor-pointer">
              <lucide-icon [img]="Eye" [size]="14"/>
            </button>
            <button type="button" matTooltip="Edit Module" matTooltipPosition="above" class="cursor-pointer">
              <lucide-icon [img]="Edit" [size]="14"/>
            </button>
          </div>

        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columns; sticky:true"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
    <mat-paginator [length]="totalElements" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" (page)="onPageChange($event)"/>
  </div>
</app-page-layout>
