<app-card-shell>
  <div class="p-4">
    @if (totalElements() > 0 ) {
      <div class="flex flex-col gap-4">
        @for (feedback of feedbacks(); track feedback.id) {
          <app-feedback-card [feedback]="feedback" />
        }

        @if (totalElements() > pageSize()) {
          <div class="flex justify-center mt-4">
            <mat-paginator [length]="totalElements()" [pageSize]="pageSize()" [pageIndex]="pageIndex()"
                           [pageSizeOptions]="[5, 10, 25, 50]" (page)="onPageChange($event)">
            </mat-paginator>
          </div>
        }
      </div>
    } @else {
      <app-no-content [title]="'No Feedback Found'" [description]="'There are no feedbacks for this course yet.'"></app-no-content>
    }
  </div>
</app-card-shell>
