<div class="flex flex-col max-w-screen">
  <div class="sticky top-0 z-50">
    <app-navbar></app-navbar>
  </div>
  <div class="min-h-screen bg-blue-50">
    <div class="w-full max-w-screen-xl mx-auto px-2">
      <div class="h-96 bg-blue-50/50 shadow-md">
        <div class="relative w-full h-60 bg-gray-600">
          <img src="beach.jpg" alt="thumbnail" class="w-full h-full object-cover">
          <div class="absolute left-0 bottom-0 translate-y-3/4 flex items-center gap-4 pl-4">
            <div class="h-40 w-40 rounded-full overflow-hidden">
              <img src="https://avatar.iran.liara.run/public/boy" alt="avatar" class="w-full h-full object-cover">
            </div>
            <div class="px-3 py-4">
              <p class="text-2xl font-semibold">Test User name</p>
              <p class="text-gray-800">Test User Email</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

