<div class="flex justify-between items-start">

  <div>

    <div class="flex items-center gap-2 mb-2">
      <app-chapter-badge [status]="status()"></app-chapter-badge>
      <app-badge [text]="`Chapter: ${ chapterOrder() }`" [variant]="'secondary'"></app-badge>
    </div>

    <h1>{{ title() }}</h1>

    <div class="flex gap-2 mt-4">
      <app-badge [text]="`Created: ${ createdDate() | date: 'yyyy-MMM-dd' }`" [variant]="'info'"></app-badge>
      <app-badge [text]="`Updated: ${ lastModifiedDate() | date: 'yyyy-MMM-dd' }`" [variant]="'warning'"></app-badge>
      <app-badge [text]="`Module: ${ moduleName() }`" [variant]="'success'"></app-badge>
    </div>

  </div>

    <button class="btn-mini-primary" (click)="openUpdateChapterDetailsDialog()" >Edit Chapter</button>

</div>
