<div class="h-96 bg-sky-950/80 backdrop-blur-md border-b border-sky-800/50 shadow-md rounded-b-2xl">
  <div class="relative w-full md:h-60 h-72">

    <img [ngSrc]="UserHelper.getProfileBannerUrl(profileUser())" loading="lazy" alt="thumbnail" class="w-full h-full object-cover" fill>

    <div class="absolute left-0 bottom-0 w-full flex flex-col items-center md:flex-row  md:gap-4 md:pl-2 md:pr-2 md:sm:pl-4 translate-y-2/4 md:translate-y-3/4">

      <div class="relative h-32 md:h-40 w-32 md:w-40 overflow-hidden">

        <img [ngSrc]="UserHelper.getProfileImageUrl(profileUser())" loading="lazy" alt="avatar" class="w-full h-full rounded-full object-cover" fill>

        @if (isSameUser()) {
          <button class="absolute flex items-center gap-2 bottom-1 right-1 btn-mini-secondary" title="Edit Profile Picture" (click)="openProfilePicUpdateDialog()" [disabled]="loading()">
            <lucide-angular [img]="Pen" class="my-icon text-sky-300" size=12></lucide-angular>
            Edit
          </button>
        }

      </div>

      <div class="px-1.5 md:px-3 py-2 md:py-4 text-center md:text-left">
        @if(!loading()){
          <h2 class=" sm:text-lg md:text-2xl font-semibold tracking-tighter">{{ UserHelper.getDisplayName(profileUser()) }}</h2>
          <p class="para-primary">{{ profileUser().email || 'N/A' }}</p>
        } @else {
          <div class="w-64 h-7 bg-sky-900/80 animate-pulse mb-1"></div>
          <div class="w-32 h-4 bg-sky-900/80 animate-pulse"></div>
        }

      </div>
    </div>

    @if (isSameUser()){
      <button class="absolute flex items-center gap-2 bottom-1 right-1 btn-mini-secondary" title="Edit Profile Picture" (click)="openProfileBannerUpdateDialog()" [disabled]="loading()">
        <lucide-angular [img]="Pen" class="my-icon text-sky-300" size=12></lucide-angular>
        Edit
      </button>
    }
  </div>
</div>
