<app-dialog-layout
  [loading]="isLoading"
  [loaderTitle]="'Updating Profile Details'"
  [title]="'Update Profile'"
  [description]="'Update your profile details'"
  [icon]="SquarePen"
  (cancelEvent)="onCancel()"
>
  <div data-body>
    <form (ngSubmit)="onSubmit()">
      <div class="w-full">
        <div class="flex flex-col gap-4 pb-4">
          <div class="flex flex-row items-center gap-2">
            <span class="text-red-500 text-lg">*</span>
            <p>Indicates required</p>
          </div>
          <div *ngIf="data.userRole === 'student' || data.userRole === 'teacher'" class="flex flex-col gap-2">
            <div class="flex flex-col gap-2">
              <label for="first-name" class="form-label">First name<sup class="text-red-500"> *</sup></label>
              <input type="text" id="first-name" [(ngModel)]="$any(user.details).firstName" name="first-name" class="w-full form-input" placeholder="Your first name" required #firstName="ngModel" [ngClass]="{'form-input-error':firstName.invalid && firstName.touched}" />
              <div *ngIf="firstName.invalid && firstName.touched" class="form-error">First Name is required.</div>
            </div>
            <div class="flex flex-col gap-2">
              <label for="last-name" class="form-label">Last name<sup class="text-red-500"> *</sup></label>
              <input type="text" id="last-name" [(ngModel)]="$any(user.details).lastName" name="last-name" class="w-full form-input" placeholder="Your last name" required #lastName="ngModel" [ngClass]="{'form-input-error':lastName.invalid && lastName.touched}">
              <div *ngIf="lastName.invalid && lastName.touched" class="form-error">Last Name is required.</div>
            </div>
            <div class="flex flex-col gap-2">
              <label for="dob" class="form-label">Date of Birth<sup class="text-sm text-red-500"> *</sup></label>
              <input type="date" id="dob" [(ngModel)]="$any(user.details).dob" name="dob" class="w-full form-input" placeholder="Your Birthday" required #dateOfBirth="ngModel" [ngClass]="{'form-input-error':dateOfBirth.invalid && dateOfBirth.touched}">
            </div>
            <div *ngIf="dateOfBirth.invalid && dateOfBirth.touched" class="form-error">Date of Birth is required.</div>
          </div>

          <div *ngIf="data.userRole === 'institute'">
            <div class="flex flex-col gap-2">
              <label for="institute-name" class="form-label">Institute name<sup class="text-red-500"> *</sup></label>
              <input type="text" id="institute-name" [(ngModel)]="$any(user.details).instituteName" name="institute-name" class="w-full form-input" placeholder="Your institute name" required #instituteName="ngModel" [ngClass]="{'form-input-error':instituteName.invalid && instituteName.touched}">
              <div *ngIf="instituteName.invalid && instituteName.touched" class="form-error">Institute Name is required.</div>
            </div>
          </div>


          <div class="flex flex-col gap-2">
            <label for="contact-no" class="form-label">Contact<sup class="text-red-500"> *</sup></label>
            <input type="tel" id="contact-no" [(ngModel)]="user.contact" name="contact-no" class="w-full form-input" placeholder="Your contact no" required pattern="[0-9]{10}" #contactNo="ngModel" [ngClass]="{'form-input-error':contactNo.invalid && contactNo.touched}">
            <div *ngIf="contactNo.invalid && contactNo.touched" class="form-error mb-4">
              <div *ngIf="contactNo.errors?.['required']">Contact Number is required.</div>
              <div *ngIf="contactNo.errors?.['pattern']">Please enter a valid 10-digit phone number.</div>
            </div>
          </div>
          <div class="flex flex-col gap-2">
            <label for="address" class="form-label">Address<sup class="text-red-500"> *</sup></label>
            <textarea id="address" [(ngModel)]="user.address" name="address" rows="2" class="w-full form-input" placeholder="Your address" required #address="ngModel" [ngClass]="{'form-input-error':address.invalid && address.touched}"></textarea>
            <div *ngIf="address.invalid && address.touched" class="form-error">Address is required.</div>
          </div>
        </div>
      </div>
      <div class="w-full border-t-2 border-sky-800/50 flex justify-end items-center pt-4">
        <input type="submit" value="Save" class="btn-mini-primary">
      </div>
    </form>
  </div>
</app-dialog-layout>
