<div class="h-full overflow-y-auto bg-gray-100 p-4 grid grid-cols-12 gap-4">
  <!-- Back Button -->
  <button (click)="window.history.back()" class="flex items-center gap-2 text-black/80 hover:text-black mb-1 w-fit cursor-pointer col-span-12 transition">
    <lucide-icon [img]="ArrowLeft" [size]="18"></lucide-icon>
    <span class="text-sm font-medium">Back</span>
  </button>

  <!-- Left Content -->
  <div class="col-span-12 lg:col-span-9 flex flex-col gap-y-3 items-center w-full">
    <!-- Video Player -->
    <div class="w-full max-w-[1400px] aspect-video bg-black rounded-2xl overflow-hidden shadow-xl border border-gray-200">
      <video [src]="videoUrl" controls preload="metadata" class="w-full h-full object-contain"></video>
    </div>

    <!-- Lecture Details -->
    <app-card-shell class="block w-full max-w-[1400px]">
      <div class="p-4">
        <h2 class="text-xl font-semibold text-gray-900">
          {{ currentLectureRecord.title }}
        </h2>
        <p class="text-sm text-gray-500 mt-1">
          {{ currentLectureRecord.createdDate | date:'dd MMM yyyy' }}
        </p>
      </div>
    </app-card-shell>
  </div>

  <!-- Right Sidebar -->
  <div class="col-span-12 lg:col-span-3 flex flex-col gap-y-2 h-fit lg:h-full " >
    @for (lectureRecord of lectureRecords; track lectureRecord.id) {
      @if(lectureRecord.id !== currentLectureRecord.id) {
        <app-card-shell (click)="onVideoClick(lectureRecord)" class="cursor-pointer hover:shadow-md transition duration-200" >
          <div class="p-3 flex flex-col gap-1">
            <app-card-header [title]="lectureRecord.title"/>
            <p class="text-xs text-gray-500">
              {{ lectureRecord.createdDate | date:'dd MMM yyyy' }}
            </p>
          </div>
        </app-card-shell>
      }
    }
  </div>
</div>
