<app-card-shell>
  <div>
    <app-card-header [title]="scheduleLecture().topic" [description]="scheduleLecture().startDate | date: 'dd MMM yyyy'">
      <app-schedule-lec-badge card-action [status]="scheduleLecture().status"/>
    </app-card-header>
    <div class="flex flex-col gap-2 pl-4 p-2">
      {{ formatTime(scheduleLecture().startTime) }} - {{ formatTime(scheduleLecture().endTime) }}

      <div class="flex gap-2">
        @if (canJoinLecture(scheduleLecture())) {
          <button class="btn-mini-secondary btn-success" (click)="onJoin(scheduleLecture())">Join</button>
        }
        <button class="btn-mini-primary" (click)="openScheduleLecUpdateDialog(scheduleLecture())">Edit</button>
      </div>
    </div>
  </div>
</app-card-shell>
