<app-card-shell>
  <div class="p-5">
    <div class="flex justify-between items-center mb-4">

      <div>
        <h2 class="text-xl font-semibold">
          Chapter Overview
        </h2>

        <p class="text-sm text-gray-500">
          General chapter information
        </p>
      </div>

    </div>

    <div class="grid grid-cols-2 gap-4">

      <app-info-row label="Chapter Order" [value]="chapterOrder()"/>
      <app-info-row label="Module" [value]="moduleName()"/>
      <app-info-row label="Status" [value]="status()"/>
    </div>
  </div>

</app-card-shell>
