<div class="bg-gray-300/50 text-gray-900  h-screen flex items-center justify-center">

  <div class="sm:w-lg p-5 sm:p-10 rounded-md shadow-xl drop-shadow-lg bg-white shadow-gray-600">
    <h1 class="text-2xl sm:text-4xl font-bold mb-2">Reset Password Request</h1>
    <p class="text-gray-600 mb-4 sm:mb-8">Please Enter the email address of your account which you need to reset your password.</p>
    <form (ngSubmit)="onSubmit()">
      <input type="password" name="newPassword" id="newPassword" [(ngModel)]="newPassword" placeholder="New Password" class="w-full p-2 border border-gray-300 rounded-md mb-4 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40" required minlength="8" #nPassword="ngModel"/>
      <div *ngIf="nPassword.invalid && nPassword.touched" class="text-red-500 mb-4">
        <div *ngIf="nPassword.errors?.['required']">Password is required.</div>
        <div *ngIf="nPassword.errors?.['minlength']">Password must be at least 8 characters long.</div>
      </div>

      <input type="password" name="confirmPassword" id="confirmPassword" [(ngModel)]="confirmPassword" placeholder="Confirm Password" class="w-full p-2 border border-gray-300 rounded-md mb-4 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40" required minlength="8" #cnPassword="ngModel"/>
      <div *ngIf="cnPassword.invalid && cnPassword.touched" class="text-red-500 mb-4">
        <div *ngIf="cnPassword.errors?.['required']">Password is required.</div>
        <div *ngIf="cnPassword.errors?.['minlength']">Password must be at least 8 characters long.</div>
      </div>
      <p *ngIf="confirmPassword && confirmPassword !== newPassword" class="text-red-500 mb-4">Password must match each other</p>

      <button type="submit" class="w-full bg-blue-500 text-white p-2 rounded-md hover:bg-blue-600" [ngClass]="{'cursor-not-Allowed':loading , 'cursor-pointer':!loading}" >{{ loading ? 'Loading..' : 'Update Password' }}</button>
      <p class="mt-4">Back to login ? <a [routerLink]="['/auth/login']" class="text-blue-600 font-semibold">Login</a></p>
    </form>
  </div>

</div>
