<nav class="bg-blue-100 shadow-md">
  <div class="px-2 w-full">
    <div class="w-full max-w-screen-xl mx-auto px-2">
      <div class="relative flex items-center justify-between h-14" >

        <a [routerLink]="['/app']" *ngIf="!isMobileSearchActive">
          <img [src]="'tuitiontoall_logo.png'" alt="Logo" class="sm:h-10 h-8 w-auto"/>
        </a>

        <!--          mobile search button-->
        <button class="block lg:hidden" (click)="activateMobileSearch()" *ngIf="!isMobileSearchActive">
          <lucide-icon [img]="Search" [strokeWidth]="1.35"></lucide-icon>
        </button>

        <app-navbar-search
          [isMobileSearchActive]="isMobileSearchActive"
          (isMobileSearchActiveChange)="isMobileSearchActive = $event">
        >
        </app-navbar-search>

        <a [routerLink]="['/app']" [routerLinkActive]="'font-bold'"
           class="flex flex-col justify-center items-center cursor-pointer hover:font-bold" *ngIf="!isMobileSearchActive">
          <lucide-icon [img]="House" [strokeWidth]="1.35"></lucide-icon>
          <p class="text-[0.9rem] hidden lg:block">Feed</p>
        </a>
        <a [routerLink]="['/maintenance']"
           class="flex flex-col justify-center items-center cursor-pointer hover:font-bold" *ngIf="!isMobileSearchActive">
          <lucide-icon [img]="Users" [strokeWidth]="1.35"></lucide-icon>
          <p class="text-[0.9rem] hidden lg:block">Connections</p>
        </a>
        <a class="flex flex-col justify-center items-center cursor-pointer hover:font-bold" *ngIf="!isMobileSearchActive">
          <lucide-icon [img]="Bell" [strokeWidth]="1.35"></lucide-icon>
          <p class="text-[0.9rem] hidden lg:block">Notifications</p>
        </a>
        <a [routerLink]="['/maintenance']"
           class="flex flex-col justify-center items-center cursor-pointer hover:font-bold" *ngIf="!isMobileSearchActive">
          <lucide-icon [img]="MessageSquareText" [strokeWidth]="1.35"></lucide-icon>
          <p class="text-[0.9rem] hidden lg:block">Message</p>
        </a>
        <a [routerLink]="user?.role == 'ROLE_INSTITUTE' ? ['/ins/dashboard'] : user?.role == 'ROLE_STUDENT' ? ['/std/dashboard'] : user?.role == 'ROLE_TEACHER' ? ['/tch/dashboard'] : ['/dashboard']"
           class="flex flex-col justify-center items-center cursor-pointer hover:font-bold" *ngIf="!isMobileSearchActive">
          <lucide-icon [img]="LayoutDashboard" [strokeWidth]="1.35"></lucide-icon>
          <p class="text-[0.9rem] hidden lg:block">Dashboard</p>
        </a>

        <div class="flex items-center gap-x-5 ml-2" *ngIf="!isMobileSearchActive">
          <div class="relative">
            <button class="profile_button sm:h-10 sm:w-10 h-8 w-8 rounded-full cursor-pointer border-0"
                    (click)="toggleProfileDropdown()">
              <img
                src="{{ user?.dp ? `${environment.USER_PROFILE_API}${user?.dp}` : 'https://avatar.iran.liara.run/public/boy' }}"
                alt="User Avatar" class="h-full w-full rounded-full">
            </button>
            <div *ngIf="isProfileDropdownOpen"
                 class="profile_menu absolute right-0 mt-2 w-48 bg-white dark:bg-gray-800 border border-gray-300 dark:border-gray-600 rounded shadow-md z-20">
              <ul>
                <li [routerLink]="['/profile/'+user.userSlug]"
                    class="px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-700 cursor-pointer text-gray-800 dark:text-gray-200">
                  Profile
                </li>
                <li
                  class="px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-700 cursor-pointer text-gray-800 dark:text-gray-200">
                  Settings
                </li>
                <li
                  class="px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-700 cursor-pointer text-gray-800 dark:text-gray-200"
                  (click)="logout()">Logout
                </li>
              </ul>
            </div>
          </div>
          <div class="lg:block hidden">
            <p class="text-md truncate max-w-xs"
               title="{{ user?.role == 'ROLE_INSTITUTE' ? user.instituteName : user.firstName+' '+user.lastName }}">
              {{ user?.role == 'ROLE_INSTITUTE' ? user.instituteName : user.firstName + " " + user.lastName }}
            </p>
            <p class="font-semibold text-sm text-muted-foreground truncate max-w-xs" title="{{ user?.email }}">
              {{ user?.email }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
