<div class="relative h-full flex flex-col">

  @if (headerTitle()){
    <app-page-title
      [title]="headerTitle()!"
      [description]="headerDescription()"
      [backButton]="showBackButton()">

      <ng-content data-actions select="[data-actions]"></ng-content>
    </app-page-title>
  }

  <div class="flex-1 overflow-auto" [ngClass]="{'pt-6': !headerTitle()}">
    <ng-content select="[data-body]"></ng-content>
  </div>

  @if (isLoading()) {
    <app-loader-overlay
      [title]="loaderTitle()"
      [description]="loaderDescription()">
    </app-loader-overlay>
  }
</div>
