<app-dialog-layout
  [title]="'Vacancy Details'"
  [description]="'View the details of the teacher vacancy'"
  [icon]="InfoIcon"
  (cancelEvent)="onCancel()"
>
  <div data-body>
    <div class="p-4 border-2 border-gray-200 bg-gray-100 rounded-lg">
      <h1 class="text-2xl font-black"> {{ vacancy.title }}</h1>
      <div class="flex justify-between gap-2 mt-2 mx-2">
        <div class="text-sm flex flex-col gap-y-2">
          <h3 class="font-medium">Status:</h3>
          <span class="batch" [ngClass]="{
          'batch-success':vacancy.status == TeacherVacancyStatus.OPEN,
          'batch-warning': vacancy.status == TeacherVacancyStatus.FILLED,
          'batch-danger': vacancy.status == TeacherVacancyStatus.CLOSED}">
          {{ vacancy.status}}
        </span>
        </div>
        <div class="text-sm flex flex-col gap-y-2 ">
          <h3 class="font-medium">Years of Experience (YoE) Required :</h3>
          <span>{{ vacancy.requiredExperienceYears}}</span>
        </div>
        <div class="text-sm flex flex-col gap-y-2 ">
          <h3 class="font-medium">Closing Date:</h3>
          <span>{{ vacancy.vacancyClosingDate | date : "medium" }}</span>
        </div>
      </div>
    </div>
    <div class="mt-4 p-4 border-2 border-gray-200 rounded-lg h-80 flex flex-col">
      <h2 class="text-md font-medium">Job Description</h2>
      <quill-editor class="w-full flex-1 min-h-0 " id="jobDescription" [modules]="{toolbar:false}" [ngModel]="vacancy.jobDescription" [readOnly]="true" [styles]="{ border: 'none'}"></quill-editor>
    </div>
  </div>
</app-dialog-layout>
