<app-card-shell>
  <div class="p-5">

    <div class="flex justify-between items-center mb-4">

      <div>
        <h2>Lecture Recordings</h2>
        <p class="para-primary">Uploaded chapter recordings</p>
      </div>

      <button (click)="openLectureRecordingUploadDialog()" class="btn-mini-primary">
        Upload Recording
      </button>

    </div>

    <div class="flex flex-col gap-4">

      <!-- Recording Card -->
      @for (lectureRecord of lectureRecords; track lectureRecord.id) {
        <app-card-shell>
          <div class="flex justify-between items-start p-5">
            <div>
              <app-badge [text]="`Recorded on ${ lectureRecord.recordedDate | date: 'yyyy-MMM-dd' }`" [variant]="'indigo'"></app-badge>
              <h3 class="font-semibold text-lg">
                {{ lectureRecord.title }}
              </h3>
            </div>

            <div class="flex gap-2">

              <button [routerLink]="['watch']" [queryParams]="{f:lectureRecord.url}" class="btn-mini-primary">
                Watch
              </button>

              <button (click)="openLectureRecordDetailsUpdateDialog(lectureRecord)" class="btn-mini-secondary">
                Edit
              </button>

            </div>

          </div>
        </app-card-shell>
      }

    </div>

  </div>
</app-card-shell>

