<app-page-layout [headerTitle]="'My Networks'" [headerDescription]="'Connect with your friends, colleagues, and other users.'" class="block mt-4">
  <div data-body>
    <mat-tab-group class="custom-tabs w-full" mat-stretch-tabs="false" mat-align-tabs="start" animationDuration="500ms">
      <mat-tab label="My Followers">
        <ng-template matTabContent>
          <app-my-followers></app-my-followers>
        </ng-template>
      </mat-tab>
      <mat-tab label="My Followings">
        <ng-template matTabContent>
          <app-my-followings></app-my-followings>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</app-page-layout>

