<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" animationDuration="500ms" class="custom-tabs">
  <mat-tab label="Posts">
    <ng-template matTabContent>
      <app-user-posts></app-user-posts>
    </ng-template>
  </mat-tab>
  @if (UserHelper.isInstitute(profileUser().role?.role, profileUser().details)) {
    @if (UserHelper.isStudent(currentUser().role?.role, currentUser().details) || currentUser().userSlug === profileUser().userSlug){
      <mat-tab label="Courses">
        <ng-template matTabContent>
          <app-user-courses [userId]="UserHelper.getProfileId(profileUser())"></app-user-courses>
        </ng-template>
      </mat-tab>
    }
    @if (UserHelper.isTeacher(currentUser().role?.role, currentUser().details) || currentUser().userSlug === profileUser().userSlug) {
      <mat-tab label="Jobs">
        <ng-template matTabContent>
          <app-institute-jobs [instituteId]="UserHelper.getProfileId(profileUser())"></app-institute-jobs>
        </ng-template>
      </mat-tab>
    }

  }
</mat-tab-group>
