<app-card-shell>
  <div class="p-5">

    <div class="flex justify-between items-center mb-4">

      <div>
        <h2 class="text-xl font-semibold"> Scheduled Lectures </h2>
        <p class="text-sm text-gray-500"> Upcoming lecture sessions </p>
      </div>

      <button class="btn-mini-primary" (click)="openScheduleLecCreateDialog()">
        Add
      </button>

    </div>

    <div class="flex flex-col gap-3">

      @for (scheduledLecture of scheduleLectures; track scheduledLecture.id){
        <app-card-shell class="block m-0">
          <div>
            <app-card-header [title]="scheduledLecture.topic" [description]="scheduledLecture.startDate | date: 'dd MMM yyyy'">
            <span card-action class="batch batch-success">Scheduled</span>
            </app-card-header>
            <div class="flex flex-col gap-2 pl-4 p-2">
            {{ formatTime(scheduledLecture.startTime) }} - {{ formatTime(scheduledLecture.endTime) }}

              <div class="flex gap-2">
                <button class="btn-mini-secondary btn-success" (click)="onJoin(scheduledLecture.meetingUrl)">Join</button>
                <button class="btn-mini-primary">Edit</button>
              </div>
            </div>
          </div>

        </app-card-shell>
      }


    </div>

  </div>
</app-card-shell>
