<app-card-shell>
  <div class="p-5">

    <div class="flex justify-between items-center mb-4">

      <div>
        <h2 class="text-xl font-semibold"> Scheduled Lectures </h2>
        <p class="text-sm text-gray-500"> Upcoming lecture sessions </p>
      </div>

      <div class="flex gap-2">
        <button (click)="onRefresh()" class="btn-mini-light">
          <lucide-icon [img]="RefreshCcw" [size]="20" class="filled-icon"/>
        </button>

        <button class="btn-mini-primary" (click)="openScheduleLecCreateDialog()">
          Add
        </button>
      </div>

    </div>

    <div class="flex flex-col gap-3">

      @for (scheduleLecture of scheduleLectures; track scheduleLecture.id){
        <app-card-shell class="block m-0">
          <div>
            <app-card-header [title]="scheduleLecture.topic" [description]="scheduleLecture.startDate | date: 'dd MMM yyyy'">
            <app-schedule-lec-badge card-action [status]="scheduleLecture.status"/>
            </app-card-header>
            <div class="flex flex-col gap-2 pl-4 p-2">
            {{ formatTime(scheduleLecture.startTime) }} - {{ formatTime(scheduleLecture.endTime) }}

              <div class="flex gap-2">
                @if (canJoinLecture(scheduleLecture)) {
                  <button class="btn-mini-secondary btn-success" (click)="onJoin(scheduleLecture)">Join</button>
                }
                <button class="btn-mini-primary" (click)="openScheduleLecUpdateDialog(scheduleLecture)">Edit</button>
              </div>
            </div>
          </div>

        </app-card-shell>
      }


    </div>

  </div>
</app-card-shell>
