<app-card-shell>
  <div class="p-5">

    <div class="flex justify-between items-center mb-4">

      <div>
        <h2 class="text-xl font-semibold">
          Resources
        </h2>

        <p class="text-sm text-gray-500">
          Chapter learning materials
        </p>
      </div>

      <div class="flex gap-2">
        <button (click)="onRefresh()" class="btn-mini-light">
          <lucide-icon [img]="RefreshCw" [size]="20" class="filled-icon"/>
        </button>
        <button class="btn-mini-primary">
          Add
        </button>
      </div>

    </div>

    <div class="overflow-x-auto">

      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element">
            <div class="flex justify-center items-center gap-2">
              <button (click)="onDownload(element.fileName)" class="btn-mini-primary">
                <lucide-icon [img]="Download" [size]="18" class="filled-icon"/>
              </button>
              <button class="btn-mini-primary">
                <lucide-icon [img]="ExternalLink" [size]="18"/>
              </button>

            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
      </table>

    </div>
      <mat-paginator
        [hidePageSize]="true"
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        showFirstLastButtons
        aria-label="Select page of resources"
        (page)="onPageChange($event)"
      />

  </div>
</app-card-shell>


