<app-dialog-layout title="Update Schedule Lecture" description="Update details of scheduled lecutre here!" [icon]="Pencil" (cancelEvent)="onCancel()" [loading]="loading" [loaderTitle]="'Updating Lecture Meeting'" loaderDescription="Please wait while the lecture is being updated">

  <div data-body>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
      <div class="full-w-card bg-yellow-100 border-l-4 flex flex-col border-l-yellow-600 p-4 rounded-2xl shadow-md">
        <h1 class="text-md font-bold text-yellow-800">Warning!</h1>
        <p class="text-sm text-yellow-600">Sharing a meeting URL through the TuitionToAll platform does not guarantee that only students from your institute can join the meeting. Please avoid sharing meeting links with outsiders.</p>
        <p class="text-sm text-yellow-600">If supported by the meeting provider (Zoom, Google Meet, Microsoft Teams, etc.), disable participant invite link sharing and allow only the host to manage invitations.</p>
        <p class="text-sm text-yellow-600">Always verify attendance and participants through the meeting provider to ensure that learning content is accessed only by authorized students and staff.</p>
      </div>
      <app-input id="topic" label="Lecture Topic" placeholder="Enter lecture topic" [required]="true" [control]="form.get('topic')" />
      <app-input id="startDate" label="Lecture Start Date" placeholder="Enter lecture start date" type="date" [required]="true" [control]="form.get('startDate')" class="block border-none p-0" />
      <div class="flex flex-row gap-2 justify-center items-center">
        <app-input id="startTime" label="Start Time" placeholder="Enter lecture start time" type="time" [required]="true" [control]="form.get('startTime')" class="block border-none p-0 w-full" />
        <app-input id="endTime" label="End Time" placeholder="Enter lecture end time" type="time" [required]="true" [control]="form.get('endTime')" class="block border-none p-0 w-full" />
      </div>
      <app-input id="meetingUrl" label="Meeting URL" placeholder="Enter meeting url" [required]="true" [control]="form.get('meetingUrl')" />
      <div class="full-w-card bg-yellow-100 border-l-4 flex flex-col border-l-yellow-600 p-4 rounded-2xl shadow-md">
        <h1 class="text-md font-bold text-yellow-800">Warning!</h1>
        <p class="text-sm text-yellow-600">Disabling the “late attendance” option will automatically disable the join button 10 minutes after the scheduled start time of the meeting.</p>
        <p class="text-sm text-yellow-600">After this 10-minute window, students who were disconnected or left the meeting will not be able to rejoin.</p>
        <p class="text-sm text-yellow-600">However, if the meeting URL is shared or leaked externally, unauthorized users or late students may still be able to access the meeting through that link. Please ensure the meeting link is kept secure and shared only with intended participants.</p>
      </div>
      <app-checkbox [control]="form.get('lateAttendance')" id="lateAttendance" label="Late Attendance" [required]="true" [multiple]="false" [options]="[{ label: 'Allow late attendance', value: true }]"/>
      <app-select id="status" label="Status" placeholder="Select a status for the lecture" [required]="true" [control]="form.get('status')" [options]="statusOptions" />
      <div class="flex justify-end my-3 gap-2">
        <button type="button" class="btn-mini-secondary" (click)="onReset()">Reset</button>
        <button type="submit" class="btn-mini-primary" [disabled]="form.invalid || loading">Update</button>
      </div>
    </form>
  </div>
</app-dialog-layout>
