<app-page-layout [headerTitle]="'My Payments'" [headerDescription]="'View and manage your payment history and details.'">
  <div data-body>

    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let data">{{data.id}}</td>
      </ng-container>

      <ng-container matColumnDef="institute">
        <th mat-header-cell *matHeaderCellDef>Institute</th>
        <td mat-cell *matCellDef="let data">{{data.instituteName}}</td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>Amount</th>
        <td mat-cell *matCellDef="let data">
        <span class="batch batch-success">
          {{ 'Rs. ' + (data.amount | currency:'':'':'1.0-2') + ' /='}}
        </span></td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let data">
          <app-payment-status-badge [status]="data.status"></app-payment-status-badge>
        </td>
      </ng-container>

      <ng-container matColumnDef="paymentMethod">
        <th mat-header-cell *matHeaderCellDef>Method</th>
        <td mat-cell *matCellDef="let data">{{ data.paymentMethod}}</td>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef>Payment Date</th>
        <td mat-cell *matCellDef="let data">{{ data.createdDate | date:'medium' }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr *matNoDataRow>
        <td class="mat-cell text-center p-4" [attr.colspan]="displayedColumns.length">
          @if (loading) {
            <ng-container>
              Loading all Payments...
            </ng-container>
          } @else {
            <ng-container>
              <app-no-content
                [title]="'No Payments Found!'"
                [description]="'You have not made any payments yet. Once you make a payment, it will appear here.'"
              ></app-no-content>
            </ng-container>
          }
        </td>
      </tr>
    </table>
    <mat-paginator [length]="totalElements" [pageIndex]="pageIndex" [pageSize]="pageSize" [pageSizeOptions]="[5,10,20,50]" (page)="onPageChange($event)"></mat-paginator>
  </div>
</app-page-layout>
