<app-page-layout
  [headerTitle] = "'Course Registration'"
  [headerDescription]="'Choose your preferred batch and review your enrollment details.'"
  [showBackButton]="true"
>
  <div data-body>
    <div class="w-full max-w-screen-xl mx-auto">
      <div class="flex flex-col md:flex-row w-full gap-4 items-start">

        <div class="flex flex-col gap-4 w-full md:w-2/3">

          <app-selected-course-section [course]="course"></app-selected-course-section>


          @if (course.id) {
            <app-batch-selection-section [courseId]="course.id" (selectBatch)="selectBatch($event)"></app-batch-selection-section>
          } @else {
            <p class="para-primary para-md">Unable to identify the selected course.</p>
          }

        </div>

        <div class="flex flex-col gap-4 w-full md:w-1/3">

          <app-enrollment-summary-section [course]="course" [selectedBatch]="selectedBatch" [batchEnrollEligibility]="enrollmentEligibility" [eligibilityCheckLoading]="eligibilityCheckLoading" (checkEligibility)="checkEnrollEligibility()"></app-enrollment-summary-section>

        </div>
      </div>

    </div>
  </div>
</app-page-layout>
