<app-dialog-layout
  [icon]="data.icon"
  [iconColour]="data.type"
  [title]="data.title"
  [description]="'Please confirm your action'"
  (cancelEvent)="onCancel()"
>
  <div data-body>

      <p class="pb-5 text-sm text-gray-600 leading-relaxed">
        {{ data.message }}
      </p>

    <!-- Footer -->
    <div class="pt-5 border-t border-gray-200 flex justify-end gap-3">

      <button
        type="button"
        class="btn-mini-secondary"
        (click)="onCancel()">

        Cancel
      </button>

      <button
        type="button"
        [class]="data.confirmButtonClass"
        (click)="onConfirm()">

        {{ data.confirmText }}
      </button>

    </div>
  </div>
</app-dialog-layout>
