<app-card-shell>
  <div class="p-4">
    <h3>Enrollment Summary</h3>
    <div class="my-2 flex flex-col gap-2 ">
      <app-info-row [label]="'COURSE'" [value]="course().title"></app-info-row>
      <app-info-row [label]="'SELECTED BATCH'" [value]="selectedBatch().name"></app-info-row>
      <app-info-row [label]="'START DATE'" [value]="(selectedBatch().start_date | date:'mediumDate') ?? 'N/A'"></app-info-row>
      <app-info-row [label]="'LANGUAGE'" [value]="(course().language | titlecase) ?? 'Not specified'"></app-info-row>
      <app-info-row [label]="'LEVEL'" [value]="(course().level | titlecase) ?? 'Not specified'"></app-info-row>
    </div>

    <hr class="border border-sky-900/80">

    <div class="my-2 flex flex-col justify-between ">
      <div class="flex flex-row justify-between">
        <p class="para-md para-primary">Course Fee</p>
        <p class="para-md para-light font-bold">LKR {{ course().price | number:'1.2-2' }}</p>
      </div>
      <div class="flex flex-row justify-between">
        <p class="para-md para-primary">Discount</p>
        <p class="para-md para-light font-bold">LKR 0</p>
      </div>
    </div>

    <app-card-shell [variant]="'info'">
      <div class="p-4 flex flex-row gap-2 justify-between">
        <p class="para-md para-light">Total</p>
        <p class="para-md para-primary font-bold">LKR {{ course().price | number:'1.2-2' }}</p>
      </div>
    </app-card-shell>

    <button class="btn btn-primary w-full mt-8">Proceed to Payment</button>

    <div class="flex flex-inline gap-2 items-center mt-2 justify-center">
      <lucide-icon [img]="ShieldCheck" class="w-4 h-4 text-sky-400"></lucide-icon>
      <p class="text-xs para-primary">Secure enrollment</p>
    </div>
  </div>
</app-card-shell>
