<label class="form-label" [for]="id()">
  {{ label() }}

  @if (required()) {
    <span class="text-red-500">*</span>
  }
</label>

<input
  [id]="id()"
  class="form-input"
  [type]="type()"
  [formControl]="$any(control())"
  [placeholder]="placeholder()"
  [class.form-input-error]="control()?.invalid && control()?.touched"
/>

@if (control()?.errors?.['required'] && control()?.touched) {
  <p class="form-error">
    * {{ label() }} is Mandatory!
  </p>
}

@if (control()?.errors?.['server']) {
  <p class="form-error">
    * {{ control()?.errors?.['server'] }}
  </p>
}
